# https://github.com/marketplace/actions/helm-oci-chart-releaser
# https://github.com/bsord/helm-push

name: Release helm chart

on:
  push:
    tags:
    - v*

permissions:
  contents: write
  packages: write
  issues: write
  id-token: write

jobs:
  build-helm-chart:
    name: "Push helm chart"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Push Helm chart to OCI Github registry2
        uses: bsord/helm-push@v4.2.0
        with:
          useOCIRegistry: true
          registry-url:  oci://ghcr.io/tchoupinax
          username: Tchoupinax
          access-token: ${{ secrets.OCI_PUSH_PASSWORD }}
          force: true
          chart-folder: chart
          update-dependencies: false
