name: Build server + docker image

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  packages: write

jobs:
  server-build:
    name: "⭐️ Build server"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Git tag
        id: git_tag
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: "./server"
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/tchoupinax/k8s-images-manager:server-${{ env.TAG }}
            docker.io/${{ secrets.DOCKER_USERNAME }}/k8s-images-manager:server-${{ env.TAG }}
          labels: "org.opencontainers.image.version=${{ env.TAG }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
